@media only screen and (min-width: 1366px) {
body
    {
        width:1366px;
        margin: 0 auto;
        background: #333333;
    }

.packets
                {
                    float: right;
                    position: absolute;
                    right:15.20%;
                    padding-top:60px;

                }
}

@media only screen and (max-width: 1365px) {
    .packets
    {
    float: left;
    padding-left: 17.20%;
    padding-top:60px;
    
                    }

}





    .page1
{
width:100%;
height: 770px;

}
    .top
    {
        position:relative;
        background: url("../Images/coffee_background.png");
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        height:724px;
        overflow:hidden;
    }
        .social-icons-div
        {
            padding-top:50px;
            overflow:auto;

        }
            .facebook
            {
                float: left;
                padding-left:8.05%;

            }
            .other-icon
            {
                float:right;
                padding-right:8.05%;

            }
        .top-content-div
        {
            text-align: right;
        }
            .top-content-text
            {
                position: relative;
                right:13.14%;
                top:33px;
                font-size: 25px;

            }
            .top-content-images
            {
                

            }
                .ohs
                {
                    padding-top:110px;
                    padding-left:12.44%;

                    float:left;
                    
                }
                
            
    .circle-img
    {
        position:relative;
        top:-97px;
        

    }     
        .scroll-text
        {
            display: block;
            position:relative;
            top:-130px;
            width: 100%;
            text-align: center;
            

        }
    .scroller-bar
    {
        background-color: #993333;
        width:100%;
        height:46px;
        text-align: center;
    }

.page2
{
    background: url("../Images/page2.png");
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        height:724px;
        overflow:hidden;

}
.page2-content
{

}
.title-container
{
    position:relative;
    width:100%;
}
.content-title
{
    position:relative;
    float: left;
    left: 5%;

}
.content-title-img
{
    position:absolute;
    top:75px;
    left:7.69%;

}
.content-title-text
{
    position: relative;
    display:inline-block;
    top:75px;
    left:7.69%;
    color:#993333;
    
    width:69.11%;
    font-size: 34px;
    padding-left:5.18%;
    padding-top:16px;
    font-weight: bolder;


}
.content-discription
{
    position:relative;
    float: right;
    

}
.content-discription-top
{
    position: relative;
    right: -3.88%;
}
.content-discription-title-img
{
    position: absolute;
    top: 75px;
    


}
.content-discription-title-text
{
    position: relative;
    top: 85px;
    font-size: 34px;
    padding-left: 3.72%;
}
.content-discription-text
{
    position: relative;
    display: inline-block;
    top: 125px;
    padding-left:3.72%;
    width: 490px;
    font-size: 21px;
}
.content-discription-buttons
{
    position: relative;
    top: 165px;
    right: 9.5%;
    float: right;
    width: 72.58%;
}
.content-discription1
{
    position:relative;
    float: right;
    top: 75px;
    

}
.content-discription-top1
{
    position: relative;
    left: 19.02%;
}
.content-discription-title-img1
{
    position: absolute;
    top: 75px;
    


}
.content-discription-title-text1
{
    position: relative;
    top: 85px;
    font-size: 34px;
    padding-left: 3.14%;
}
.content-discription-text1
{
    position: relative;
    display: inline-block;
    top: 135px;
    padding-left: 3.14%;
    width: 490px;
    font-size: 21px;
}
.content-discription-buttons1
{
    position: relative;
    top: 180px;
    right: 8.53%;
    float: right;
    width: 60.97%;
}
.button1{
    background: url("../Images/content-button.png");
    float:left;
    border:#993333;
    font-size: 20px;
    text-align: center;
    width: 206px;
    height: 55px;
}
.button2{
    background: url("../Images/content-button.png");
    float: right;
    
    border:#993333;
    font-size: 20px;
    text-align: center;
    width: 206px;
    height: 55px;
}
.content-discription-buttons-img
{
    position:absolute;

 
}
.content-discription-buttons-text
{
    
    position: relative;
    font-size: 20px;
    top: 15px;
    left: 48px;


}
.content-discription-buttons-img2
{
    position:absolute;
 
}
.content-discription-buttons-text2
{
    position:relative;
    font-size: 20px;
    top: 15px;
    left: 24px;
    
}
.content-machine
{
    
    position: relative;
    top: 175px;
    left: 105px;

}
.content-beans
{

}

.page3
{
    background: url("../Images/page2.png");
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        height:724px;
        overflow:hidden;
}
.coffee-mug
{
    position: relative;
    top: 280px;
    left: 9.26%;
}

.page4
{
    background: url("../Images/page4.png");
        background-size: cover;
        background-repeat: no-repeat;
        /* width:100%; */
        height:745px;
        overflow:hidden;


}
.page4::after{
    content: "";
    display: table;
    clear:both;
}

.page-4-half1
{
    float:left;
    overflow: hidden;
    
    
    padding-left:11.11%;;
    /* display:inline-block; */

}
/* 601
35
428 */
.in-touch-img
{
    position:absolute;

}
.get-in-touch
{
    padding-top:108px;
    

}

.in-touch-text1
{
    position: relative;
    top: 15px;
    left: 2.5%;
    font-size: 25px;
    display: block;
}

.in-touch-text2
{
    position: relative;
    top: 32px;
    left: 2.5%;
    font-size: 20px;
    width: 60%;
    display: block;
}

.form-feedback
{
    padding-top:25px;
}

.form-name-div
{

}
.form-contact-no-div
{
    

}
.form-email-div
{

}
.form-message-div
{
    background: url(../Images/textbox1.png);
    background-repeat: no-repeat;
    position: relative;
    height: 215px;

}
.form-label-img
{
    
    position: absolute;
}
.form-label
{
    display:inline-block;
    padding-left:2.46%;
    top:-24px;
    position: relative;
    font-size:20px;
    /* background:url("../Images/form-label.png");
    background-size: 100%;
    background-repeat: no-repeat;
     */
}
.form-label1
{
    display: inline-block;
    position: relative;
    padding-left: 2.46%;
    top: 25px;
    font-size: 20px;
    /* background:url("../Images/form-label.png");
    background-size: 100%;
    background-repeat: no-repeat;
     */
}

.form-input1
{
    position: relative;
    border:none;
    margin-top:40px;
    line-height: 32px;
    margin-left:10px;

}
.form-input-img
{
    position: absolute;
    padding-top:40px;
    line-height: 40px;
    margin-left:1.63%;
    
}

.form-input2
{
    position: relative;
    border:none;
    margin-top:40px;
    line-height: 32px;
    margin-left:1.63%;
    
    

}
.text-message
{
    height: 133px;
    position: relative;
    left: 1.8%;
    top: 42px;
    width: 94.5%;
    
}

.page-4-half2
{
    float: right;
    overflow: hidden;
    width: 31.72%;
    padding-right: 8.15%;
}
.part-description
{
    background-color: #993333;
    color: white;
    padding: 10px;
    margin-top: 95px;
    margin-left: 3.16%;
    width: 99%;
    text-transform: uppercase;
    text-align: justify;

}
.map-image
{
    padding-top: 10px;

}
#submiter
{

}
@media only screen and (max-width: 1300px) {
    .content-title-img
    {
        position:absolute;
        top:20px;
        left:7.69%;
    
    }
    .content-title-text
    {
        position: relative;
        display:inline-block;
        top:20px;
        left:7.69%;
        color:#993333;
        
        width:69.11%;
        font-size: 34px;
        padding-left:5.18%;
        padding-top:16px;
        font-weight: bolder;
    
    
    }

    .content-discription-title-img {
        position: absolute;
        top: 20px;
    }

    .content-discription-title-text {
        position: relative;
        top: 30px;
        font-size: 34px;
        padding-left: 3.72%;
    }

    .content-discription-text {
        position: relative;
        display: inline-block;
        top: 70px;
        padding-left: 3.72%;
        width: 490px;
        font-size: 21px;
    }
    .content-discription-buttons {
        position: relative;
        top: 110px;
        right: 9.5%;
        float: right;
        width: 72.58%;
    }

    .content-machine {
        position: relative;
        top: 100px;
        left: 105px;
    }
}

@media only screen and (max-width: 1183px) {
    .coffee-mug {
        position: relative;
        top: 170px;
        left: 9.26%;
    }

    .content-discription1 {
        position: relative;
        float: right;
        top: -10px;
    }
}

@media only screen and (max-width: 1064px) {
    .packets {
        float: left;
        padding-left: 50%;
        position: relative;
        bottom: 245px;
}

@media only screen and (max-width: 1059px) {
    .content-discription {
        position: relative;
        float: right;
        top: -90px;
    }

    .content-machine {
        position: relative;
        top: 30px;
        left: 105px;
    }
}

@media only screen and (max-width: 1025px) {
    .page1 {
        width: 100%;
        height: 1024px;
    }
    .social-icons-div {
        padding-top: 100px;
        overflow: auto;
    }
    
    
    

    .top {
        position: relative;
        background: url(../Images/coffee_background.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 980px;
        overflow: hidden;
    }

    .packets{
        display:none;
    }

    .top-content-text {
        position: relative;
        right: 13.14%;
        top: 25px;
        font-size: 25px;
    }

    .ohs {
        padding-top: 110px;
        padding-left: 35.44%;
        float: left;
    }
}


/* 
ns1.digitalocean.com
ns2.digitalocean.com */


}